@font-face {
  font-family: letter;
  src: url(letter.ttf);
}
h1 {font-family: letter;margin-top: 3.5%;%;text-align: center;font-size: 50px;}
hr {width: 350px; border-width: 1px;background-color: solid black;align: center;}

h2{font-family: letter;font-size: 20px;position: absolute;top: 2%; right: 7%;}

h3 {top:8%;text-align: center;}
p {font-family: letter;text-align: center; font-size: 20px;padding-left: 400px;padding-right: 400px;line-height: 50px;}
.ing {font-family: letter;text-align: center; font-size: 15px;padding-left: 400px;padding-right: 400px;line-height: 30px;}
video {width: 65%;}
div {margin-left: 400px;}

h5{text-align:center;
  font-family: letter; font-size: 20px; bottom:5%;}
h4 {font-family: letter;font-size: 30px; text-align: center;}

a {outline: none;
 position: relative;
 color: #000;
 text-decoration: none;
 padding: 2px 1px 0;
}
a:hover {
 color: black;
}
a:before {
 content: "";
 position: absolute;
 width: 100%;
 height: 2px;
 bottom: 0;
 left: 0;
 background-color: #000;
 visibility: hidden;
 -webkit-transform: scaleX(0);
 transform: scaleX(0);
 -webkit-transition: all 0.3s ease-in-out 0s;
 transition: all 0.3s ease-in-out 0s;
}
a:hover:before {
 visibility: visible;
 -webkit-transform: scaleX(1);
 transform: scaleX{
  outline: none;
  text-decoration: none;
  padding: 2px 1px 0;
}
