@font-face {
  font-family: letter;
  src: url(letter.ttf);
}
p {font-family: letter;font-size: 20px;position: absolute;top: 2%; right: 7%;}
h1 {font-family: letter;font-size: 20px; position: absolute;;top: 2%; left: 6%;}
h2{text-align:center;
  font-family: letter; font-size: 20px; bottom:5%;}
  .gallery {
  align-content: center;
  margin-left: 6%;
  }
  .gallery img {width:30%;
  padding:4px;
  filter: opacity(100%);
  transition: 1s;}

  .gallery img:hover{
    filter: opacity(50%);
    transform:scaleX(1.04)scaleY(1.04);
    ;
  }

  .x {outline: none;
  position: relative;
  color: white;
  text-decoration: none;
  padding: 2px 1px 0;
  }
  .x:hover {
  color: white;
  }
  .x:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color:white;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  }
  .x:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX{
  outline: none;
  text-decoration: none;
  padding: 2px 1px 0;
  }
