@font-face {
  font-family: letter;
  src: url(letter.ttf);
}
p {font-family: letter;font-size: 20px;position: absolute;top: 2%; right: 7%;}

h1 {font-family: letter;font-size: 20px; position: absolute;;top: 2%; left: 6%;}
h2 {text-align: center;margin-top: 5%;}
h3{text-align:center;
  font-family: letter; font-size: 20px; bottom:5%;}
img {width: 30%;}
a {outline: none;
 position: relative;
 color: white;
 text-decoration: none;
 padding: 2px 1px 0;
}

a:hover {
 color: white;
}
a:before {
 content: "";
 position: absolute;
 width: 100%;
 height: 2px;
 bottom: 0;
 left: 0;
 background-color: white;
 visibility: hidden;
 -webkit-transform: scaleX(0);
 transform: scaleX(0);
 -webkit-transition: all 0.3s ease-in-out 0s;
 transition: all 0.3s ease-in-out 0s;
}
a:hover:before {
 visibility: visible;
 -webkit-transform: scaleX(1);
 transform: scaleX{
  outline: none;
  text-decoration: none;
  padding: 2px 1px 0;
}
