@font-face {
  font-family: letter;
  src: url(letter.ttf);
}

h1 {font-family: letter;top: 250px;text-align: center;font-size: 48px;}

hr {margin-top:-5%; width: 900px; border-width: 1px;background-color: solid black;align: center;}

h2 {font-family: letter;font-size: 20px; text-align: center;font-size: 26px;}

div {margin-top: 17%;}

.logo{

  margin-bottom: 5%;
  margin-left: 45%;

}


.logo img {width:9%;}
.insta{outline: none;
  position: relative;
  color: white;
  text-decoration: none;
  padding: 2px 1px 0;
}
.insta:hover {
 color:white;
}
.insta:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
}
.insta:hover:before {
  -webkit-transform: scaleX(1);
  transform: scaleX;
  transition: 1s;
}


.x {outline: none;
  position: relative;
  color: #000;
  text-decoration: none;
  padding: 2px 1px 0;
}
 .x:hover {
  color: #000;
}
.x:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.x:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX }
